# Base de datos MongoDB Atlas
MONGODB_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/velada?retryWrites=true&w=majority

# Autenticación JWT
JWT_SECRET=super_secreto_velada_app_jwt_key_2026_romantico

# URL de la aplicación
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Entorno
NODE_ENV=development
